# Project exclude paths
/.gradle/
/Blockchain/task/out/
/Blockchain/task/out/production/classes/
/.idea/.gitignore
/.idea/modules/Blockchain.iml
/.idea/modules/Blockchain/task/Blockchain-task.iml
/.idea/modules/Blockchain/task/Blockchain-task_main.iml
/.idea/modules/Blockchain/task/Blockchain-task_test.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/Gradle__com_cedarsoftware_json_io_4_10_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_v7_0_1.xml
/.idea/libraries/Gradle__com_github_stefanbirkner_system_rules_1_19_0.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_11.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_8_0.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_8_0.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_8_0.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_21.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/.idea/modules/util/util.iml
/.idea/modules/util/util_main.iml
/.idea/modules/util/util_test.iml
/.idea/vcs.xml
/Blockchain/task/build/reports/tests/test/css/base-style.css
/Blockchain/task/build/classes/java/main/blockchain/Block.class
/Blockchain/task/build/classes/java/test/Block.class
/Blockchain/task/build/classes/java/main/blockchain/Blockchain.class
/Blockchain/task/build/classes/java/test/BlockchainTest.class
/Blockchain/task/build/reports/tests/test/classes/BlockchainTest.html
/Blockchain/task/build/classes/java/test/BlockParseException.class
/Blockchain/task/build/reports/tests/test/packages/default-package.html
/Blockchain/task/build/reports/tests/test/index.html
/Blockchain/task/build/tmp/test/jar_extract_116400495147729069_tmp
/Blockchain/task/build/tmp/test/jar_extract_1230231243395113485_tmp
/Blockchain/task/build/tmp/test/jar_extract_4667590446908002213_tmp
/Blockchain/task/build/tmp/test/jar_extract_5662603935365282222_tmp
/Blockchain/task/build/tmp/test/jar_extract_5839611923077378127_tmp
/Blockchain/task/build/tmp/test/jar_extract_8495661732135756658_tmp
/Blockchain/task/build/tmp/test/jar_extract_9295419054810321947_tmp
/Blockchain/task/build/tmp/test/jar_extract_10745828319852523921_tmp
/Blockchain/task/build/tmp/test/jar_extract_11711611006862504124_tmp
/Blockchain/task/build/tmp/test/jar_extract_14057460031909390562_tmp
/Blockchain/task/build/tmp/test/jar_extract_14926466203900078377_tmp
/Blockchain/task/build/tmp/test/jar_extract_15616906425271373475_tmp
/Blockchain/task/build/tmp/test/jar_extract_16306991067103459484_tmp
/Blockchain/task/build/tmp/test/jar_extract_18329195086717804174_tmp
/Blockchain/task/build/classes/java/main/blockchain/Main.class
/Blockchain/task/build/test-results/test/binary/output.bin
/Blockchain/task/build/test-results/test/binary/output.bin.idx
/Blockchain/task/build/reports/tests/test/js/report.js
/Blockchain/task/build/test-results/test/binary/results.bin
/Blockchain/task/build/classes/java/main/blockchain/StringUtil.class
/Blockchain/task/build/reports/tests/test/css/style.css
/Blockchain/task/build/test-results/test/TEST-BlockchainTest.xml
/.idea/dictionaries/kiqja.xml
